/* Общие стили */
body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background: linear-gradient(45deg, #bac8ee, #e4c5e8);
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
    text-align: center;
}

/* Стили канбан-доски */
.kanban-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project {
    background-color: #ffffff5e;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 300px;
    backdrop-filter: blur(5px);

}

.project h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
}

.status-column {
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: #e9e9e9;
}

.status-column h3 {
    text-align: center;
    color: #333;
}

.task {
    background-color: #d8eaecc9;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    position: relative;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    text-align: center
}

.task:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.task button {
    position: relative;
    right: 5px;
    top: 5px;
    background: none;
    border: none;
    cursor: pointer;

}

.task button.delete {
    color: #ff4d4d;
}

.btn-simp {
    color: #000000;
}

.btn-del {
    color: #ff4d4d;
}

.task button.add {
    color: #007bff;
}

/* Кнопки */
button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s;
    font-weight: bold;
}

button.add {
    color: blue;
}

button:hover {
    color: #000000;
    background-color: #ffffff;
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
}

button.add {
    color: white;
    background-color: blue;
}

.close:hover {
    color: #000;
}

/* Tooltip styles */
.tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    display: none;
    z-index: 100;
    white-space: nowrap;
}

.description-button:hover+.tooltip {
    display: block;
    transition: opacity 0.3s ease-in-out;
}

.description-button {
    color: #000000;
}

/* Поле приглашения пользователя и кнопка */

#inviteForm input {
    margin-bottom: 10px;
    width: 75%;
    height: calc(1.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5;
    color: #01023d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#inviteForm input::placeholder {
    color: #01023d;
    opacity: 0.4;
    font-size: small;
}

#inviteForm button {
    width: 75%;
}

/* Поле название задачи и кнопка */

#NewTaskForm input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 75%;
    height: calc(1.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5;
    color: #01023d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#NewTaskForm input::placeholder {
    color: #01023d;
    opacity: 0.4;
    font-size: small;
}

/* Поле название проекта и кнопка */
#newProjectForm {
    position: relative;

}

#newProjectForm input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 10%;
    height: calc(1.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5;
    color: #01023d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

#newProjectForm input::placeholder {
    color: #01023d;
    opacity: 0.4;
    font-size: large;
}

#newProjectForm button {
    width: auto%;
    height: 35.5px;
}

/* Кнопка ВЫЙТИ */
.btn-exit {
    float: right;
    padding: 10px;
    width: 120px;
    height: 75px;
    font-size: larger;
    border-radius: 10px;
    justify-content: space-between;
    color: #ffffff;
    background-color: #f855b9c9;
}

.btn-exit:hover {
    color: #000000;
    background-color: #ffffff;
}

/* Кнопка УДАЛИТЬ ПРОЕКТ */
.btn-delete-project {
    color: #ffffff;
    background-color: #f855b9c9;
}

.btn-delete-project:hover {
    color: #000000;
    background-color: #ffffff;
}